<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <meta name="description" content="{{page.description | strip_newlines}}">
    <meta name="keywords" content="{{page.keywords | join:','}}">
    <meta name="google-site-verification" content="TCzB62RDAoVhpsxKgzjd760uASiR7rz7MdqE9SyNGqo" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="canonical" href="{{ page.canonical_url }}">
    <link href="/favicon.ico" rel="shortcut icon" type="image/vnd.microsoft.icon">
    <link rel="stylesheet" href="styles/bootstrap.css" type="text/css" >
    <link href="/styles/main.css" rel="stylesheet" type="text/css">

    {% for stylesheet in page.stylesheets %}
    <link href="{{stylesheet}}" rel="stylesheet" type="text/css">
    {% endfor %}

<!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
<![endif]-->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-15522812-4']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
    </script>
    <title>{{ page.title }}</title>
  </head>
  <body>
    <header class="navbar" role="banner">
      <div class="container">
        <div class="navbar-header">
          <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <h1 class="logo">
            <a href="./" class="navbar-brand">
              <img src="imgs/cf_logo.png" title="codefirst.org" alt="codefirst.org">
            </a>
          </h1>
        </div>
        <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/">トップ</a></li>
            <li><a href="/product.html">プロダクト</a></li>
            <li><a href="/member.html">メンバー</a></li>
            <li><a href="http://blog.codefirst.org/">ブログ</a></li>
          </ul>
        </nav>
      </div>
    </header>

      <div class="container {{page.name}}">
        {{ content }}
      </div>

      <div class="credits">
        <p>
          {% for footer in page.footers %}
          {{footer}}<br>
          {% endfor %}
          Copyright (C) 2011-2014 <a href="http://www.codefirst.org">codefirst.org</a>, All rights reserved.
        </p>
      </div>
    </div>
  </body>
</html>
