.main-image {
   text-align: center;
}

.navbar-right { margin-top: 10px; }

.logo {
  padding-top: 0;
  padding-bottom: 0;
}

img.ss {
  width: 95%;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-border-radius: 10px;
  margin-bottom: 10px;
}
.feature {
  padding-bottom: 1.5em;
}
.feature ul li{
  list-style-type: none;
}

.copy {
  text-align: center;
  margin-top: 125px;
  font-size: 1.8em;
  font-weight: bold;
  font-family: serif;
  color: #555;
}
@media (max-width: 768px) {
.copy {
  margin-top: 0;
}
}

h5 {
  margin-top: 1.5em;
  font-weight: normal;
  border-bottom: 1px solid #eee;
}
