h4 {
   border-bottom: 1px solid #eee;
}
.main-img-container {
   position:relative;
}
.main-img {
   border-radius: 5px 5px 5px 5px;
   -webkit-border-radius: 5px 5px 5px 5px;
   box-shadow: 1px 1px 2px #999;
   -webkit-box-shadow: 1px 1px 2px #999;
   background-color: #289ad8;
   width: 100%;
}
.excuse {
   color:white;
   position:absolute;
   top:35px;
   left:40px;
   text-shadow: 1px 1px 1px #777;
}

.excuse p {
   font-size:30px;
}

ul.arrow-list {
    margin-left: 5px;
    padding-left: 0;
}

.arrow-list li {
    list-style: none;
    background: url(../imgs/li.png) no-repeat 0 0.25em;
    padding-left: 20px;
}
.arrow-list li a {
   text-decoration: none;
   color: #777;
}
.arrow-list li a:hover {
   text-decoration: underline;
   color: #777;
}

